<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>01 Diretivas</title>
</head>
<body>
    <div id="app">

        <pre>
            Diretivas são basicamente como atributos HTML que são adicionados dentro de modelos.
            Todos começam com v-, para indicar que é um atributo especial do Vue.
        </pre> 
        
        Idade: <input type="number" name="age" id="age" v-model="age" placeholder="Informe sua idade">

        <p v-if="age" v-text="age > 18 ? 'Você é maior de idade' : 'Você é menor de idade'"></p>
        
    </div>
    
    <script>
        new Vue({
            el: '#app',
            data: {
                age: ''
            }
        })
    </script>

</body>

</html>